server:
  port: 8084

spring:
  application:
    name: auth-microservice

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

keycloak:
  auth-server-url: http://localhost:8080
  realm: MicroservicesBarber
  client-id: auth-service
  client-secret: vZrnQdFL5ZCJYH5JAvmkFUvDkSrglPa4

management:
  endpoints:
    web:
      exposure:
        include: health,info
